body {
 width: 97%;
 font-family: Arial, Verdana, sans-serif;
 color: #162025;
 margin: auto;}

/* Create four equal columns that floats next to each other */
.column {
 float: left;
 width: 50%;
}

/* Clear floats */
.row:after {
 content: "";
 display: table;
 clear: both;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
 .column {
 width: 50%;
 }
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .column {
 width: 100%;
 }
}
