body {
	width: 100%;
	/*font-family: Arial, Verdana, sans-serif;*/
	color: #162025;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
}

.column-sx {
	position: float;
	float: left;
	width: 60%;
	height: 100vh;
	background-color: purple;
}

.column-dx{
	position: float;
	float: right;
	height: 100vh;
	width: 40%;
	background-color: red;
}
